<p><%=@to_be_edited.name %></p>
<p><%=@to_be_edited.content %></p> 


<form method="post" action="/posts/<%=@to_be_edited.id%>">
<input id="hidden" type="hidden" name="_method" value="patch">

<p> Edit Name: <input id="post_name" input type="text" name="name"/> </p>

<p> Edit Content: <input id="post_content" input type="text" name="content"/> </p>

<input type="submit" id="submit" value="Submit"/>
</form>